@import './Mixins.scss';
@import './Variables.scss';

* {
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
	line-height: 18px;
	font-weight:300;
	color: $dark-grey;
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
	color: inherit;
}
img {
	max-width: 100%;
}
strong {
	font-weight: 700;
}
.container {
	display: block;
	width: 1110px;
	max-width: 97%;
	margin: 0 auto;
}
.hide {
	opacity: 0;
}
.show {
	opacity: 1;
	@include animation(0.5s);
}
table {
	width: 100%;
    max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	text-align: left;

	thead {
		th {
		    vertical-align: bottom;
		    border-bottom: 2px solid #dee2e6;
			border-top: 0px;
		}
	}
	tbody {
		tr:nth-of-type(odd) {
		    background-color: rgba(0,0,0,.05);
		}
	}
	th, td {
		padding: .75rem;
		vertical-align: top;
		border-top: 1px solid #dee2e6;
	}
	a {
		color: $blue;
	}
}
