/*
 * Mixins
 */
/*
 * Extends
 */
.podcast-list, .podcast-list .podcast-item div h4, .podcast-list .podcast-item div span {
  clear: both;
  width: 100%;
  display: block; }

.podcast-list .podcast-item div {
  -webkit-box-shadow: -4px 3px 32px -5px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: -4px 3px 32px -5px rgba(0, 0, 0, 0.32);
  box-shadow: -4px 3px 32px -5px rgba(0, 0, 0, 0.32); }

.podcast-list {
  margin-top: 50px;
  float: left;
  display: flex;
  flex-wrap: wrap; }
  .podcast-list .podcast-item {
    float: left;
    width: 23%;
    margin-right: 2.6%;
    position: relative;
    display: flex;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear; }
    @media screen and (max-width: 991px) {
      .podcast-list .podcast-item {
        width: 49%;
        margin-right: 2%; } }
    @media screen and (max-width: 768px) {
      .podcast-list .podcast-item {
        width: 100%; } }
    .podcast-list .podcast-item img {
      display: block;
      margin: 0 auto;
      border-radius: 100px;
      position: absolute;
      display: table;
      left: 50%;
      right: 50%;
      -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%); }
    .podcast-list .podcast-item div {
      width: 100%;
      border: 1px solid #CCCCCC;
      text-align: center;
      padding: 70px 10px 14px 10px;
      margin: 100px 0px 70px 0px; }
      .podcast-list .podcast-item div h4 {
        color: #4a4646;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 5px;
        line-height: 15px; }
      .podcast-list .podcast-item div span {
        color: #6b6969; }
    .podcast-list .podcast-item:nth-child(4n) {
      margin-right: 0; }
    @media screen and (max-width: 991px) {
      .podcast-list .podcast-item:nth-child(2n) {
        margin-right: 0%; } }
    .podcast-list .podcast-item:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
