* {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: #999999;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%; }

strong {
  font-weight: 700; }

.container {
  display: block;
  width: 1110px;
  max-width: 97%;
  margin: 0 auto; }

.hide {
  opacity: 0; }

.show {
  opacity: 1;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear; }

.filter {
  float: right;
  width: 100%;
  max-width: 435px; }
  .filter .total-items {
    float: left;
    padding: 3px 7px;
    background: #6ca3e8;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    top: 7px;
    position: relative;
    font-size: 16px; }
  .filter input {
    float: right;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    width: 88%;
    padding: 9px; }
